name: "Junit5"
on:
  push:
    branches:
      - 'main'
      - 'release'
      - 'develop'
  pull_request:
    branches:
      - '**'
      # - '*'         # matches every branch that doesn't contain a '/'
      # - '*/*'       # matches every branch containing a single '/'
      # - '**'        # matches every branch
      # - '!main'   # excludes main
jobs:
  Unit:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle with cache
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build unitTest
          add-job-summary-as-pr-comment: on-failure
          cache-read-only: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop' }}

      - name: Run test
        run: ./gradlew unitTest

      - name: test
        run: cd build/test-results && ls -al

      - name: Save test reports
        uses: actions/upload-artifact@v3
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop
        with:
          name: unit
          path: |
            build/reports/tests/unitTest

      - name: publish unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'build/test-results/unitTest/TEST-*.xml'
          check_name: 'Unit test'
  Integration:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle with cache
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build integrationTest
          cache-read-only: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop' }}

      - name: Run test
        run: ./gradlew integrationTest

      - name: test
        run: ls ./build/test-results

      - name: Save test reports
        uses: actions/upload-artifact@v3
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop
        with:
          name: integration
          path: |
            build/reports/tests/integrationTest

      - name: publish unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'build/test-results/integrationTest/TEST-*.xml'
          add-job-summary-as-pr-comment: on-failure
          check_name: 'Integration test'

  Commit_reports_to_gh_pages_develop:
    if: github.ref == 'refs/heads/develop
    runs-on: ubuntu-latest
    permissions: write-all
    needs: [Unit, Integration]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get commit ID
        id: get_commit_id
        run: echo "::set-output name=commit_id::$(git rev-parse HEAD)"

      - name: Set environment variable
        run: echo "COMMIT_ID=${{ steps.get_commit_id.outputs.commit_id }}" >> $GITHUB_ENV

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: 'gh-pages'
          fetch-depth: '0'

      - name: Configure Git # commit을 위한 git config 설정
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Download integrationTest test reports
        uses: actions/download-artifact@v3
        with:
          name: integration
          path: build/reports/tests/integrationTest

      - name: Download unit test reports
        uses: actions/download-artifact@v3
        with:
          name: unit
          path: build/reports/tests/unit

      - name: Commit reports to gh-pages branch (merged into develop)
        run: |
          
          mkdir -p docs/develop/$COMMIT_ID
          cp -R build/reports/tests docs/develop/$COMMIT_ID
          
          echo "## Test reports" > docs/develop/$COMMIT_ID/tests/index.md
          echo "[Unit](/unit/index.html) | [Integration](integrationTest/index.html)" >> docs/develop/$COMMIT_ID/tests/index.md
          
          ls build/reports/tests
          rm -rf build/reports
          
          git add docs -f
          git status
          git commit -m "docs: Test result $COMMIT_ID"

      - name: Push changes to gh-pages branch
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}

